body{
  text-align: center;
  background-color: aqua;
}
.productcontainer{
display: flex;
flex-wrap: wrap;
}
.productcontainer > .link{
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #494242;
  margin: 10px;
  

}
.productcontainer > .link:hover{
  background-color: rgb(187, 120, 120);
}